# --- CONFIGURATION API EXTERNE ---
DATA_TOURISME_API_KEY="API KEY POUR L'API DE TOURISME"

# --- MONGODB ---
MONGO_CONTAINER_NAME=mongo_tourisme
MONGO_DB_NAME=mongo_tourisme_db
MONGO_COLLECTION_NAME=tourisme_collection
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=ceciestunmotdepassefortpourmongodb
MONGO_HOST=127.0.0.1
MONGO_PORT=27017

# --- POSTGRES ---
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=ceciestunmotdepassefortpourpostgres
POSTGRES_DB=tourisme_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- NEO4J (Database graphe) ---
#NEO4J_AUTH=neo4j/password_neo4j
#NEO4J_HOST=localhost
#NEO4J_PORT=7687

# --- CONFIGURATION INTERNE ---
#DEBUG=True
#API_SECRET_KEY=une_cle_aleatoire_pour_ton_api_fastapi